.stackContainer{
  width: 100vw !important; 
  overflow: hidden !important;
}

.toolIcon{
  filter: grayscale(100%);
  margin-right: 10px;

  &&:hover{
    filter: none;
  }
}

.portfolioButtons{
  width: 110px;
  border: 2px solid var(--white);

  &&:hover{
    color: var(--details1);
    border: 2px solid var(--details1);
    cursor: pointer;
  }
}

@media (max-width: 768px){
  .stack-container{
    width: 90vw !important;
    overflow: hidden !important;
  }
}