.stackContainer{
  width: 90vw !important; 
  overflow: hidden !important;
}

.toolIcon{
  filter: grayscale(100%);
  margin-right: 10px;

  &&:hover{
    filter: none;
  }
}

.portfolioButtons{
  width: 110px;

  &&:hover{
    cursor: pointer;
  }
}

@media (max-width: 768px){
  .stack-container{
    width: 90vw !important;
    overflow: hidden !important;
  }
}