.main-container{
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.username{
  color: var(--details1);
}

.separator{
  border: 1px solid var(--details2)
}