@import "tailwindcss";

:root{
  --first-dark: #030712;
  --second-dark: #31363F;
  --third-dark: #FE2156;
  --details1: #04FFE4;
  --white: #FAFDF6;
}

body{
  background-color: var(--first-dark);
  color: var(--white);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}