@import "tailwindcss";

:root{
  --first-dark: #030712;
  --second-dark: #31363F;
  --third-dark: #EEEFA8;
  --dark-text: #DDD92A;
  --white: #FAFDF6;
}

body{
  background-color: var(--first-dark);
  color: var(--dark-text);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}